body { background: #c23ad6; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 26px; display: flex; }
.block-cart-0 { color: #becad2; font-size: 20px; margin-bottom: 5px; }
.block-product-1 { color: #22378d; font-size: 16px; margin-bottom: 5px; }
.block-order-2 { color: #a4f9d3; font-size: 17px; margin-bottom: 5px; }
.block-cart-3 { color: #f1a057; font-size: 17px; margin-bottom: 5px; }
.block-search-4 { color: #8211af; font-size: 15px; margin-bottom: 5px; }